body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --main-gren:#06ae8d;
    --main-blue:#3a5072;
}
.body-content {
    background: url(/imgNew/Изображения/главная.png);
    background-position: center;
    background-size: cover;
}
.g-container {
    width: 1146px;
    margin: 0 auto;
}
.home-button {
    display: flex;
    justify-content: center;
}
.g-button {
    border-radius: 6px;
    background: linear-gradient(1deg, #128f77, #7cc83d);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 286px;
    height: 53px;
    text-transform: uppercase;
    box-shadow: 0px 3px 5px 4px #80b0cc98;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 262px;
}


.navigation {
    padding-top: 50px;
}
.navigation-container {
    display: flex;
    margin-bottom: 23px;
}
.navigation-container__text {
    font-size: 33px;
    font-weight: bold;
    color: var(--main-gren);
    margin-right: 118px;
}
.navigation-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-item__info {
    margin-right: 67px;
    font-size: 19px;
    color: var(--main-blue);
}
.navigation-item__info--select{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 3px solid var(--main-gren);
}
.line {
    display: flex;
    width: 57px;
    height: 2px;
    margin-bottom: 30px;
}
.line-green {
    width: 50%;
    height: 2px;
    background: var(--main-gren);
}
.line-red {
    width: 50%;
    height: 2px;
    background: #be2a2c;
}
.navigation__text {
    margin-bottom: 38px;
   font-size: 19px;
}


.cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    text-decoration: none;
    margin-bottom: 40px;
}
.cities-container {
    border-radius: 6px;
    box-shadow: 0px 3px 11px 1px #bac2c27e;
    width: 217px;
}
.cities__item-container {
    background-color: #ffffff;
    position: relative;
    border-radius: 0 0 6px 6px;
}
.cities__item-container-text {
    padding: 10px 0 9px 30px;
}
.cities__item {
    border-radius: 20px;
    display: block;
    height: 212px;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cities__item img {
    display: block;
    width: 100%;
    height: 133px;
    border-radius: 6px 6px 0 0;
}
/* ----------------- */
.cities__item-info {
    display: block;
    color: var(--main-blue);
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/* weight */
.cities__item-info::before {
    display: block;
    content: '';
    width: 100%;
    height: 7px;
    background: rgba(241, 239, 238, 0.452);
    position: absolute;
    top: -7px;
    left: 0;
} 
/* ----------------- */
.cities__item-excursion {
    font-family: Calibri light;
    font-size: 17px;
    color: #111111;
}
.cities__excursion-number {
    color: var(--main-blue);
}
/* weight */


.body-info {
    width: 100%;
    height: 176px;
    padding: 4px;
    background: rgba(241, 239, 238, 0.397);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.body-info__container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 9px;
}
.body-info__container-head {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-gren);
}
.body-info__container-text {
    display: flex;
    justify-content: space-around;
}
.body-text__item {
    width: 331px;
    display: flex;align-items: center;
}
.body-text__item img {
    height: 50px;
    margin-right: 30px;
    color: var(--main-gren);
}
.body-text__item-head {
    color: var(--main-blue);
}


.body-excursion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}
.body-excursion__text{
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
}
.body-excursion__container{
    width: 100%;
}
.body-excursion__container-net-big {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.body-excursion__container-net-big 
.body-excursion__item {
    width: 358px;
    height: 212px;
}
.body-excursion__container-net-small {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.body-excursion__container-net-small 
.body-excursion__item {
    width: 264px;
    height: 212px;
}
.body-excursion__container-net-small 
.body-excursion__item
.body-excursion__item-container  {
    padding: 10px 12px;
}
.body-excursion__item {
    background: url(/imgNew/Изображения/shutterstock_516926059.jpg);
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
}
.body-excursion__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    border-radius:  0 0 8px 8px;
    padding: 10px 23px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
.excursion-item__text{
    color: #ffffff;
}
.excursion-text__head {
    font-size: 20px;
    font-weight: bold;
}
.excursion-text__info {
    font-size: 17px;
}
.excursion-item__arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #2becc52f;
    border-radius: 50%;
}
.excursion-item__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-color: #1dc5a3;;
    border-radius: 50%;
}
