body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.g-container {
    width: 1146px;
}
.home-button {
    display: flex;
    justify-content: center;
}
.g-button {
    border-radius: 6px;
    background-color: #128f77;
    background: linear-gradient(1deg, #128f77, #7cc83d);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 286px;
    height: 53px;
    text-transform: uppercase;
    box-shadow: 0px 3px 5px 2px #9edfdd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    text-decoration: none;
    margin-bottom: 40px;
}
.cities-container {
    border-radius: 6px;
    box-shadow: 0px 3px 5px 2px #bac2c27e;
}
.cities__item-container {
    background-color: #ffffff;
    padding: 10px 0 9px 30px;
    position: relative;
    border-radius: 0 0 6px 6px;
}
.cities__item {
    border-radius: 20px;
    display: block;
    width: 215px;
    height: 212px;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cities__item img {
    display: block;
    width: 217px;
    height: 133px;
    border-radius: 6px 6px 0 0;
}
/* ----------------- */
.cities__item-info {
    display: block;
    color: #3a5072;
    font-size: 19px;
    font-weight: 900;
    text-align: left;
    width: 100%;
}
/* weight */
.cities__item-info::before {
    display: block;
    content: '';
    width: 217px;
    height: 7px;
    background: rgba(241, 239, 238, 0.452);
    position: absolute;
    top: -7px;
    left: 0;
} 
/* ----------------- */
.cities__item-excursion {
    font-size: 17px;
    font-weight: 400;
    color: #111111;
}
.cities__excursion-number {
    font-weight: lighter;
    color: #3a5072;
}
/* weight */